@{
    ViewBag.Title = "Conheça o Meu Trabalho";
    ViewBag.Message = "Programador, Músico, Artesão: multidiciplinaridade que faz a diferença no modo de pensar.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
<link href="../dist/css/sb-admin-2.css" rel="stylesheet">
<link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">ANDERSON MARZOLA</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                <div class="col-lg-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Programação
                        </div>
                        <div class="panel-body">
                            <p>
                                VB, Delphi, C#, Python, JavaScript, jQuery, JSON, XML, Java, Bootstrap, Angular,
                                MVC, WebAPI, SOA, Microsoft SQL Server, PostGres SQL, Microsot Access
                            </p>
                        </div>
                        <div class="panel-footer">
                            8 anos de Experiência
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            Outros Conhecimentos
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li>Inglês Avançado</li>
                                <li>WebDesign</li>
                                <li>Photoshop</li>
                                <li>GIMP</li>
                                <li>SCRUM</li>
                                <li>Kanban</li>
                                <li>Edição de Partituras</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            Experiência Profissional
                        </div>
                        <div class="panel-body">
                            <p>Financiamento Bancário, Crédito Direto ao Consumidor, Cobrança entre outros Sistemas para Instituições Financeiras; Loja Virtual; ERP; Administração de Órgãos Públicos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Informações Acadêmicas
                    </div>
                    <div class="panel-body">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">2012 - Tecnólogo em Processamento de Dados</a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        Curso de Tecnologia em Processamento de Dados concluído em Dezembro de 2012, na Faculdade de Tecnologia de São Paulo.<br>
                                        Trabalho de Conclusão de Curso sobre a utilização da tecnologia da informação na produção musical.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2009 - Técnico em Música</a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Curso Técnico em Música concluído em Junho de 2009, na Escola Técnica de Artes.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">2004 - Técnico em Eletrônica</a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Curso Técnico em Eletrônica concluído em Junho de 2004, no Liceu de Artes e Ofícios de São Paulo.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron">
                    <h1>Empresas e Projetos</h1>
                    <p>Veja aqui algumas empresas com as quais trabalhei.</p>
                    <p>
                        <img src="~/Content/images/funcao.png" />
                        <img src="~/Content/images/ficsa.png" />
                        <img src="~/Content/images/credifibra.png" />
                        <img src="~/Content/images/bgn.png" />
                        <img src="~/Content/images/cetelem.png" />
                        <img src="~/Content/images/psa.png" />
                        <img src="~/Content/images/alfa.png" />
                        <img src="~/Content/images/panamericano.png" />
                        <img src="~/Content/images/pan.png" />
                        <img src="~/Content/images/pine.png" />
                        <img src="~/Content/images/santander.png" />
                        <img src="~/Content/images/der.png" />
                        <img src="~/Content/images/kasolution.png" />
                        <img src="~/Content/images/kalunga.png" />
                        <img src="~/Content/images/carinhoamor.png" />
                    </p>
                    <p>Contate-me para mais detalhes...</p>
                    <p>
                        @Html.ActionLink("Contato", "Contact", "Home")
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../vendor/metisMenu/metisMenu.min.js"></script>
<script src="../dist/js/sb-admin-2.js"></script>