@{
    ViewBag.Title = "Contate-me";
    ViewBag.Message = "Alguma dúvida? Que tal uma conversa?";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>E-Mail:</strong> <a href="mailto:anderson.marzola@fatec.sp.gov.br">anderson.marzola@fatec.sp.gov.br</a><br />
    <strong>Telefone:</strong> (11) 97592-1445
</address>